body {
    background: url('https://cdn.pixabay.com/photo/2016/11/30/12/16/question-mark-1872665_1280.jpg') ; 
    background-size: cover;
  }
  .quiz-container {
    width: 800px;
    margin-top: 15%;
    margin-left: 25%;
    margin-right: 30px;
    background-color: #ff5e1d;
    opacity: 0.75;
    border-radius: 12px;
    height: 300px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  
  }
  h1{
    color: black;
  }
  button{
    margin-left: 50%;
  }