body {
    background: url('https://cdn.pixabay.com/photo/2016/11/30/12/16/question-mark-1872665_1280.jpg') ; 
    background-size: cover;
    justify-content: center;

  }
  
  .quiz-container {
    width: 600px;
    margin: 0 auto;
    margin-top: 15%;
    margin-left: 25%;
    margin-right: 30px;
    background-color: #ff5e1d;
    opacity: 0.75;
    border-radius: 12px;
   height: 300px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #question {
 
    text-align: center;
    color: black;
  }
  
  #choices {
    margin-left:30%;
   
    
  }
  .choice {
  margin-bottom: 8px; 
  padding: 2px 10px;
  width: 250px;
  background-color: black;
  height: 40PX;
  color: #ff5e1d;
  font-family: Georgia, serif;
  }
  
  #result {
   color: black;
   
  }
